input{
    margin: 10px;
}

li{
    list-style: none;
}

input[type=text],input[type="password"]{
    width: 200px;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    caret-color: black;
    outline: none;
    margin-top: 50px;
}

input[type=text],input[type="password"]::placeholder{
    color: black;
}

input[type=text],input[type="password"],select,textarea{
    color: black;
}

.circle img{
    width: 30px;
    height: 30px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 5px solid black;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
}

.star{
    display: flex;
}

input[type=file]{
   display: none;
}

.file-uplode{
    border: 2px solid black;
    cursor: pointer;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.file-uplode li{
    color: black;
    list-style: none;
    text-align: center;
}
.first{
    display: flex;
    margin: 30px;
}
.list{
    color: black;
    list-style: none;
    position: relative;
    top: 10px;
}
.star{
    margin-top: 30px;
}
.star h3{
    color: black;
    position: relative;
    /* bottom: 1px; */
}
.star button{
    color: black;
    background: none;
    width: 80px;
    height: 30px;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.star button:hover{
    background-color: aqua;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
textarea{
    font-size: 20px;
    background: none;
    margin: 50px 0 0 0 ;
    height: 150px;
    width: 250px;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}